/* <!-- Custom CSS --> */
        body {
            font-family: Arial, sans-serif;
        }
        .navbar {
            background-color: #CCD6A6;
        }
        .jumbotron {
            background-image: url('background-image.jpg');
            background-size: cover;
            color: silver;
            text-align: center;
            padding: 150px 0;
        }
        .services {
            background-color: #dcdfd3dc;
            padding: 80px 0;
        }
        .service-card {
            border: none;
            text-align: center;
            transition: transform 0.2s;
            
        }
        .service-card:hover {
            transform: translateY(-10px);
            background-color: #FFFBE9;
        }
        .about {
            padding: 80px 0;
        }
    
        .footer {
            background-color: #CCD6A6;
            padding: 20px 0;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .social-icons {
            margin: 0 10px;
            font-size: 24px;
          }
          .contact-button {
            padding: 10px 20px;
            font-size: 18px;
            border: none;
            background-color: #F4EAD5;
            color: #000;
            border-radius: 15px;
            cursor: pointer;
          }